body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #27292D; */
  min-height: 100%;
  /* line-height: 1.5; */
}

html {
  height: 100%;
  line-height: 1.2;
  font-weight: 300;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.dark-mode {
  color: #fff !important;
  background-color: #27292D;

  /* .navbar {
    background-color: #1F2022;
    border: none;
  } */
}

.sun {
  background: url('../src/images/switch/sun.svg') 
  no-repeat center;
  background-size: 100%;
  /* border: 2px dotted blue; */
  /* height: 17px;
  width: 17px; */
}
.moon {
  background: url('../src/images/switch/moon.svg') 
  no-repeat center;
  background-size: 100%;
  /* border: 2px dotted blue; */
  /* height: 17px; */
}

.sun-white {
  background: url('../src/images/switch/sun-white.svg') 
  no-repeat center;
  background-size: 100%;
}
.moon-white {
  background: url('../src/images/switch/moon-white.svg') 
  no-repeat center;
  background-size: 100%;
}
/* .main-font {
  color: #FFFFFF;
}

h1, h2, h3 {
  color: #FFFFFF;
}

/* .navigation-sub {
  color: #A0A4D9;
} */ 

